<section data-ng-controller="WikilineController">
    <div class="page-header">
        <h1>Wikilines</h1>
    </div>
    <div class="col-md-12">
	    <div ng-hide="started">
			Type wikipedia search
			<input ng-model="query" ui-keypress="{13:'searchWiki()'}">
			<input type="button" data-ng-click="searchWiki()" value="Search"/>
	    </div>
		<div class="wiki-result">
			<img ng-show="imageSrc" ng-src="{{imageSrc}}"/>
			<h1>{{searchedQuery}}</h1>
			<div ng-bind-html="wikihtml" ng-click="doClick($event)"></div>
		</div>
    </div>
</section>